{% extends 'index/index.html' %}


{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Editar usuario</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}
    <br>
    <br>
    
    <form action="{% url 'editar_usuario' usuario.id %}" method="post">
        {% csrf_token %}
        
        <table>
            {{formulario.as_table}}
        </table>
        

        <input type="submit" placeholder="Actualizar">
    </form>
    <br>
    <br>

{% endblock bodyIndex %}