{% extends 'index/index.html' %}


{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Posts</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class='container'>
    <br>
    <br>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'crear_post' %}">Crear post</a>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'buscar_post' %}">Buscar post</a>
    <br>
    <br>
    {% for post in posts %}
        <br>
        <h2>{{ post.titulo }}</h2>
        <p>{{ post.autor.first_name }} {{ post.autor.last_name }}</p>
        <p>{{ post.contenido }}</p>
        <br>
    {% endfor %}
    <br>
    <br>

</div>

{% endblock bodyIndex %}
