{% extends 'index/index.html' %}


{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Listado de asesores</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class='container'>
    <br>
    <br>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'crear_asesor' %}">Crear asesor</a>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'buscar_asesor' %}">Buscar asesor</a>
    <br>
    <br>

    {% for asesor in asesores %}
        <li>{{ asesor.nombre }} {{ asesor.apellido }} | Especialidad: {{ asesor.especialidad }} 
        <a href={% url 'editar_asesor' asesor.id %}>Editar</a> <a href={% url 'borrar_asesor' asesor.id %}>Borrar</a></li>
    {% endfor %}
    
    <br>
    <br>

</div>

{% endblock bodyIndex %}